.background{
    background-image: url('./images/cloud background.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
    overflow: hidden;
}

.container{
    display: block;
    margin: auto;
    width: 1000px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 50px 0px;
}

.text{
    color: white;
    padding: 1.2rem;
    font-size: 1.2rem;
    width: 300px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

.imageCredit{
    color: white;
    padding: 1.2rem;
    font-size: 1.2rem;
    width: 300px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

.freepik{
    text-decoration-line: underline;
    color: white;
    font-weight: bold;
    font-family: 'Playfair Display', serif;
}

.freepik:hover{
    color: grey;
}

.purpleBox {
    font-family: 'Playfair Display', serif;
    font-size: 60px;
    line-height: 65px;
    background-color: #9884a9;
    padding: 2.5rem;
    color: white;
    font-weight: 900;
    width: 650px;
}

@media (max-width: 860px){
    .container{
        width: 100%;
        padding: 10px 40px;
    }
    .purpleBox{
        padding: 30px;
        padding-left: 20px;
        padding-right: 20px;
        width: 500px;
        font-size: 40px;
        line-height: 45px;
    }
}

@media (max-width: 600px) {
    .purpleBox{
        width: 350px;
        font-size: 30px;
    }
}

@media (max-width: 450px) {
    .purpleBox{
        width: 250px;
    }
}