.background{
    background-image: url("./images/ocean waves.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
    filter: grayscale(100%);
}

.thankYou{
    padding: 50px;
    border: 10px solid #9884a9;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: flex-start;
}

.text{
    color: white;
    font-size: 96px;
    font-family: "Playfair Display", serif;
    font-weight: 900;
}

@media (max-width: 400px) {
    .thankYou{
        width: 250px;
        padding: 20px 0px 20px 0px;
    }
    .text{
        font-size: 80px;
    }
}